html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-navbar header {
  max-width: 100%;
}

.login-container, .app-content {
  /* full height - (Navbar height + border) */
  height: calc(100% - (4rem + 1px));
}

.user-list {
  width: 20%;
  border-right: 1px solid #ccc;
}

.user-list .users-side-nav {
  /* full height - (Navbar height + border) */
  max-height: calc(100% - (4rem + 1px));
  overflow-y: auto;
}

.user-list a {
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.user-list a.active {
  font-weight: bold;
  transform: scale(1.1);
}

.user-list a.pending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

.user-list a:hover {
  transform: scale(1.1);
}

.user-form > * {
  margin-bottom: 1rem;
}

#outlet-wrapper {
  width: 80%;
  padding: 1rem;
  overflow-y: auto;
}

.user-details-sections {
  width: calc(100% - 250px);
}


/* Custom Scroll Bar CSS */
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
